// Example Config:
cleanup = true 

// Run Parameters:
params {
  outdir = '/SET/THIS/PATH/AT/RUNTIME' 
  condaenvpath = '/SET/THIS/PATH/TO/YOUR/CONDA/DIR/envs/cr3-velocyto-scanpy'
  localcores = '24'
  localmemGB = '80'
  samtools_thr = '12'
  velocytocpus = '1'
  samplesheet = '/SET/THIS/PATH/AT/RUNTIME'
  queue = 'icb_cpu'
  clusterOpt = 'qos=icb_stndrd --nice=10000'
}

// Profiles:

profiles {

    local {
		process {
		  executor='local'

		  withName: split_tsv_cr_local {
			  cpus = 1
			  memory = '10 GB'
		  }
		  withName: cellranger_count_localcores {
			  cpus = params.localcores
			  memory = "$params.localmemGB GB"
		  }
		  withName: Create_AnnData {
			  cpus = 1
			  memory = '10 GB'
		  }
		  withName: Velocyto_folder_localrun {
			  cpus = 1
			  memory = '32 GB'
		  }
		}
	}

    cluster {
        
		process {
		  
		  executor='slurm'
		  queue = params.queue
		  clusterOptions = "--$params.clusterOpt"
		  
		  withName: split_tsv_cr_local {
			  cpus = 1
			  memory = '10 GB'
			  queue = params.queue
			  time = '2880m'
		  }
		  withName: cellranger_count_localcores {
			  cpus = params.localcores
			  memory = "$params.localmemGB GB"
			  queue = params.queue
			  time = '2880m'
		  }  
		  withName: Create_AnnData {
			  cpus = 1
			  memory = '10 GB'
			  queue = params.queue
			  time = '2880m'
		  }  
		  withName: Velocyto_folder_localrun {
			  cpus = 1
			  memory = '32 GB'
			  queue = params.queue
			  time = '2880m'
		  }    
  
		}
	
	}

}
